.videoCard {
  color: white;
  width: 500px;
  height: 400px;
  padding: 20px;
  transition: transform 100ms;
}

.videoCard:hover {
  transform: scale(1.09);
}

.videoCard > img {
  object-fit: contain;
  height: 300px;
  width: 500px;
}

.videoCard > h2 {
  padding-top: 10px;
}

.videoCard > p > .MuiSvgIcon-root {
  font-size: small;
  margin-right: 6px;
  margin-left: 6px;
}

.videoCard:hover > .videoCard__stats {
  display: inline;
}

.videoCard__stats {
  display: none;
}
